      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div> <!-- project-image -->
          <div class="project-title">
            <b><%= fake_title %></b>
          </div> <!-- project-title -->
          <div class="project-description">
            <%= fake_content %>
          </div> <!-- project-description -->
        </div> <!-- project -->
      </div> <!-- col-xs-3 -->
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>