<div class="row row-fluid homepage">
  <!-- Left Side Container -->
  <div class="col-xs-9">
  <!-- Featured Projects Container -->
    <div class="row row-fluid">
      <h2>Featured Projects</h2>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
    </div>
      <!-- Recent Projects Container -->
    <div class="row row-fluid">
      <h2>Recent Projects</h2>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
    </div>
  <!-- Discover Organizations Container -->
    <div class="row row-fluid">
      <h2>Discover Organizations</h2>
            <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
    </div>
    <!-- Success Stories Container -->
    <div class="row row-fluid">
      <h2>Success Stories</h2>
            <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="project">
          <div class="project-image">
            <img src="<%= fake_image %>">
          </div>
          <div class="project-title">
            <b><%= fake_title %></b>
          </div>
          <div class="project-description">
            <%= fake_content %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Left Container-->
  <!-- Right Sidebar -->
  <div class="col-xs-3">
    <div class="categories">
      <h2>Categories</h2>
      <ul class="list-group">
       <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
      </ul>
    </div>
  </div><!-- End Sidebar Side-->
</div><!-- Ebd Homepage -->
