<%= form_for(project, :html => {:class => "form-horizontal"}) do |f| %>

<div class="control-group">
	<%= f.label :desired_project, :class => 'control-label' %>
	<div class="controls">
  <%= f.text_field :title, :class => "text_field", placeholder: "Project name here" %>
  </div>
 </div>

 <div class="control-group">
	<%= f.label :description, :class => 'control-label' %>
	<div class="controls">
  <%= f.text_area :description, :class => "text_field", placeholder: 'What do you envision for this project?' %>
  </div>
 </div>

 <%= f.hidden_field :status, :value => :requested  %>
<br>
<div class="form-actions">
  <%= f.submit :class => 'btn btn-info' %>
</div>

<% end %>