<div class="row row-fluid homepage">
  <!-- Left Side Container -->
  <div class="col-xs-9">
  <!-- Featured Projects Container -->
   <div class="row row-fluid">
     <h2>Featured Projects</h2>
     <%= row_fill_p(:featured) %>
    </div>
    <!-- Recent Projects Container -->
    <div class="row row-fluid">
      <h2>Recent Projects</h2>
        <%= row_fill_p(:recent) %>
    </div>
  <!-- Discover Organizations Container -->
    <div class="row row-fluid">
      <h2>Discover Organizations</h2>
        <%= row_fill_o(:featured) %>
    </div>
    <!-- Success Stories Container -->
    <div class="row row-fluid">
      <h2>Success Stories</h2>
        <%= row_fill_p(:success) %>
    </div>
  </div><!-- End Left Container-->
  <!-- Right Sidebar -->
  <%= render 'shared/categories' %>
<!-- End Sidebar Side-->
</div><!-- Ebd Homepage -->
