<div class="row row-fluid homepage">
  <!-- Left Side Container -->
  <div class="col-xs-9">
  <!-- Featured Projects Container -->
   <div class="row row-fluid">
     <h2>Featured Projects</h2>
     <%= render 'shared/projects' %>
    </div>
    <!-- Recent Projects Container -->
    <div class="row row-fluid">
      <h2>Recent Projects</h2>
        <%= render 'shared/projects' %>
    </div>
  <!-- Discover Organizations Container -->
    <div class="row row-fluid">
      <h2>Discover Organizations</h2>
        <%= render 'shared/projects' %>
    </div>
    <!-- Success Stories Container -->
    <div class="row row-fluid">
      <h2>Success Stories</h2>
        <%= render 'shared/projects' %>
    </div>
  </div><!-- End Left Container-->
  <!-- Right Sidebar -->
  <div class="col-xs-3">
    <div class="categories">
      <h2>Categories</h2>
      <ul class="list-group">
       <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
        <li class="list-group-item"><%= fake_category.join(" ") %></li>
      </ul>
    </div>
  </div><!-- End Sidebar Side-->
</div><!-- Ebd Homepage -->
