<div class="row row-fluid homepage">
  <!-- Left Side Container -->
  <div class="col-xs-12">
    <!-- Requested Projects Container -->
    <div class="row row-fluid">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="row row-fluid">
          <div class="col-xs-6">
            <section class="project-title">
              <h1 class="title"><%=@project.title %></h1>
              <h4>Date added: <%= @project.created_at.to_formatted_s(:long_ordinal)%></h4>
            </section>
            <h4 class="project-description"><%= @project.description %></h4>
            <%= status_button(current_user, @project)%>
          </div>
          <div class="col-xs-6">
            <img class="projshow" src="<%= fake_image %>"/>
            <%= status_button(current_user, @project)%>
          </div>
          <img src="<%= @project.project_pic.gallery %>"/>
        </div>
      </div>
      <hr class="bs-docs-separator">
      <div class="row row-fluid">
        <div class="col-xs-8">
          <section class="project-about">
            <h2>About Us </h2>
            <h3><strong><%= @project.organization.name %></strong></h3>
            <ul>
              <li> <%= link_to @project.organization.url %></li>
              <li><%= @project.organization.email %></li>
              <li><%= @project.organization.description %></li>
            </ul>
          </section>
        </div>
      </div>
      <% if !@project.developers.empty?  %>
      <hr class="bs-docs-separator">
      <div class="row row-fluid">
        <div class="col-xs-8">
          <section class="project-developers">
            <h2>Developers on the Project</h2>
          </section>
          <% @project.developers.each do |dev| %>
          <% if dev.image != "" %>
          <div class="col-xs-3">
            <img class="devpic" src="<%= dev.image %>"/><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= dev.name %>
            &nbsp;&nbsp;&nbsp;&nbsp;<% if dev.projects.count > 0 %>
            <i class="fa fa-star"></i>&nbsp;&nbsp;<%= dev.projects.success.count %>
            <%end%>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end%>
    </div>
    <div class="col-xs-2"></div>
  </div><!-- col -->
</div><!-- row -->
