<!DOCTYPE html>
<html>
<head>
  <title>AngelHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render 'shared/nav' %>
=======
<header>
	<%= load_header %>
</header>

>>>>>>> 7ee0f9a4b5473f86a0832b1d011cf1705de0e009
<%= yield %>

</body>
</html>
